@page "/addIns"
@using Bislerium.Components.Layout
@using Bislerium.Data


<nav class="navbar navbar-light bg-light justify-content-between">
    <h1 class="navbar-brand mb-0 h1">AddIns</h1>
    <button class="btn btn-primary" type="button" @onclick="OpenAddAddInDialog">
        <span class="oi oi-plus" /> Add
    </button>
</nav>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>AddIn Name</th>
            <th>AddIn Price</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var addIn in _addIns)
        {
            <tr>
                <td>@addIn.ID</td>
                <td>@addIn.AddInName</td>
                <td>@addIn.AddInPrice</td>
                <td>
                    <button class="btn btn-outline-danger" type="button" @onclick="()=>OpenDeleteAddInDialog(addIn)">
                        <span class="oi oi-delete" /> Delete
                    </button>
                    <button class="btn btn-outline-danger" type="button" @onclick="()=>OpenUpdateAddInDialog(addIn)">
                        <span class="oi oi-delete" /> Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (_showAddAddInDialog)
{
    <ModalDialog Title="Add AddIn" OnClose="@OnAddAddInDialogClose" OkLabel="Update">
    <form>
        <div class="form-floating">
            <input type="text" class="form-control username" @bind="_addInName" placeholder="AddIn name" />
            <label for="floatingInput">AddIn Name</label>
        </div>
        <div class="form-floating mb-3">
                <input type="number" class="form-control password" @bind="_addInPrice" placeholder="AddIn Price" />
            <label for="floatingPassword">AddIn Price</label>
        </div>
      
        @if (!string.IsNullOrEmpty(_updateAddInErrorMessage))
            {
                <AlertMessage Type="danger" Message="@_updateAddInErrorMessage" />
            }
        </form>
    </ModalDialog>
}

@if (_showUpdateAddInDialog)
{
    <ModalDialog Title="Add AddIn" OnClose="@OnUpdateAddInDialogClose" OkLabel="Add">
        <form>
            <div class="form-floating">
                <input type="text" class="form-control username" @bind="_addInName" placeholder="AddIn name" />
                <label for="floatingInput">Coffee Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control password" @bind="_addInPrice" placeholder="AddIn Price" />
                <label for="floatingPassword">AddIn Price</label>
            </div>

            @if (!string.IsNullOrEmpty(_addAddInErrorMessage))
            {
                <AlertMessage Type="danger" Message="@_addAddInErrorMessage" />
            }
        </form>
    </ModalDialog>
}

@if (_showDeleteAddInDialog)
{
    <ModalDialog Title="Delete User" OnClose="@OnDeleteAddInDialogClose" OkLabel="Confirm">
        <p>Are you sure you want to delete <strong>@_deleteAddIn.AddInName</strong> AddIns and it's data?</p>
        @if (!string.IsNullOrEmpty(_deleteAddInErrorMessage))
        {
            <AlertMessage Type="danger" Message="@_deleteAddInErrorMessage" />
        }
    </ModalDialog>
}
@if (_showPasswordConfirmationDialog)
{
    <ModalDialog Title="Confirm Update" OnClose="@OnPasswordConfirmationDialogClose" OkLabel="Confirm">
        <form>
            <div class="form-floating mb-3">
                <input type="password" class="form-control password" @bind="_passwordConfirmation" placeholder="Enter your password" />
                <label for="floatingPassword">Password</label>
            </div>

            @if (!string.IsNullOrEmpty(_passwordConfirmationErrorMessage))
            {
                <AlertMessage Type="danger" Message="@_passwordConfirmationErrorMessage" />
            }
        </form>
    </ModalDialog>
}


@code{
    [CascadingParameter]
    private GlobalState _globalState { get; set; }

    private AddIns _deleteAddIn { get; set; }
    private AddIns _updateAddIn { get; set; }

    private string _addInName { get; set; }
    private int _addInPrice { get; set; }

    private bool _showAddAddInDialog { get; set; }
    private bool _showDeleteAddInDialog { get; set; }
    private bool _showUpdateAddInDialog { get; set; }
    private bool _showPasswordConfirmationDialog { get; set; }
    private bool passwordIsValid { get; set; }

    private string _deleteAddInErrorMessage { get; set; }
    private string _addAddInErrorMessage { get; set; }
    private string _updateAddInErrorMessage { get; set; }
    private string _passwordConfirmationErrorMessage { get; set; }
    private string _passwordConfirmation { get; set; }

    private List<AddIns> _addIns { get; set; }

    protected override void OnInitialized(){
        _addIns = AddInsService.GetAllAddIns();
    }
    private void OpenAddAddInDialog()
    {
        _showAddAddInDialog = true;
        _addInName = "";
        _addInPrice = 0;

    }

    private void OnAddAddInDialogClose(bool isCancel)
    {
        if (isCancel)
        {
            _showAddAddInDialog = false;
        }
        else
        {
            try
            {
                _addAddInErrorMessage = "";
                _showAddAddInDialog = false;
                _addIns = AddInsService.AddAddIn(_addInName, _addInPrice);
            }
            catch (Exception e)
            {
                _addAddInErrorMessage = e.Message;
            }
        }
    }
    private void OpenUpdateAddInDialog(AddIns addIn)
    {
        _updateAddIn = addIn;
        _showUpdateAddInDialog = true;
        _addInName = addIn.AddInName;
        _addInPrice = addIn.AddInPrice;
    }
    private void OpenPasswordConfirmationDialog()
    {
        _showPasswordConfirmationDialog = true;

    }

    // update coffee
    public void OnUpdateAddInDialogClose(bool isCancel)
    {
        if (isCancel)
        {
            _showUpdateAddInDialog = false;
            _updateAddIn = null;
        }
        else
        {
            OpenPasswordConfirmationDialog();

        }
    }

    //delete addin
    private void OpenDeleteAddInDialog(AddIns addIn)
    {
        _deleteAddIn = addIn;
        _showDeleteAddInDialog = true;
    }
    private void OnDeleteAddInDialogClose(bool isCancel)
    {
        if (isCancel)
        {

            _showDeleteAddInDialog = false;
            _deleteAddIn = null;
        }
        else
        {
            OpenPasswordConfirmationDialog();
        }
    }
    private void OnPasswordConfirmationDialogClose(bool isCancel)
    {
        if (isCancel)
        {
            _showPasswordConfirmationDialog = false;
            _showUpdateAddInDialog = false;
            _showDeleteAddInDialog = false;

        }
        else
        {
            //password check
            if (_globalState.CurrentUser != null)
            {
                passwordIsValid = Utils.VerifyHash(_passwordConfirmation, _globalState.CurrentUser.PasswordHash);

            }

            if (passwordIsValid && _showUpdateAddInDialog)
            {
                try
                {
                    _updateAddInErrorMessage = "";
                    _addIns = AddInsService.UpdateAddIns(_updateAddIn.ID, _addInName, _addInPrice);
                    _showUpdateAddInDialog = false;
                    _updateAddIn = null;
                    _passwordConfirmation = null;
                    _showPasswordConfirmationDialog = false;
                }
                catch (Exception e)
                {
                    _updateAddInErrorMessage = e.Message;
                    _passwordConfirmation = null;
                }

            }
            else if (passwordIsValid && _showDeleteAddInDialog)
            {
                try
                {
                    _deleteAddInErrorMessage = "";
                    _addIns = AddInsService.DeleteAddIn(_deleteAddIn.ID);
                    _showDeleteAddInDialog = false;
                    _showPasswordConfirmationDialog = false;
                    _deleteAddIn = null;
                    _passwordConfirmation = null;

                }
                catch (Exception e)
                {
                    _deleteAddInErrorMessage = e.Message;
                    _passwordConfirmation = null;
                }

            }
            else
            {
                _passwordConfirmationErrorMessage = "Password is invalid";
                _passwordConfirmation = null;
            }


        }
    }
}