
@page "/order"
@using Bislerium.Data

<style>
    .scrollable {
        max-height: 400px;
        overflow-y: auto;
    }

    .order_list {
        max-height: 430px;
        overflow-y: auto;
    }
</style>

<div class="container-fluid p-3">
    <div class="row">
        <!-- Left Column (2/3 width) -->
        <div class="col-md-8">
            <!-- Top Left Section -->
            <div class="card mb-3">
                <div class="card-header"><strong>Coffee Section</strong></div>
                <div class="card-body scrollable rounded">
                    <div class="row">
                        <!-- Display cards in a 3x3 grid -->
                        <!--Loop goes here-->
                        @foreach (var coffee in _coffees)
                        {
                            <div class="col-md-4">
                                <div class="card mb-3 shadow-sm ">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                        <h2>☕️</h2>
                                        <h5 class="card-title">@coffee.CoffeeName</h5>
                                        <p class="card-text">Price: Rs.@coffee.CoffeePrice</p>
                                        <button class="btn btn-primary" type="button" @onclick="()=> onAddToOrderList(1, coffee.ID)"> Add to Order List</button>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- Repeat the structure for the remaining cards -->
                        <!-- Add more cards as needed -->
                    </div>
                </div>
            </div>

            <!-- Bottom Left Section -->
            <div class="card">
                <div class="card-header"><strong>Add Ins Section</strong></div>
                <div class="card-body scrollable">
                    <div class="row">
                        <!-- Display cards in a 3x3 grid -->
                        <!--Loop goes here-->
                        @foreach (var addIn in _addIns)
                        {
                            <div class="col-md-4">
                                <div class="card mb-3 shadow-sm ">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                        <h2>+</h2>
                                        <h5 class="card-title">@addIn.AddInName</h5>
                                        <p class="card-text">Price: Rs.@addIn.AddInPrice</p>
                                        <button class="btn btn-primary" type="button" @onclick="()=> onAddToOrderList(2, addIn.ID)"> Add to Order List</button>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- Repeat the structure for the remaining cards -->
                        <!-- Add more cards as needed -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Column (1/3 width) -->
        <div class="col-md-4 ">
            <div class="card w-100 ">
                <div class="card-header"><strong> Order List</strong> </div>
                <div class="card-body">
                    <!-- Add your product list here -->
                    <ul class="list-group order_list">
                        @if (orderInstance.coffeeList.Count() > 0 || orderInstance.addInsList.Count() > 0)
                        {

                            @foreach (var coffee in orderInstance.coffeeList)
                            {
                                <li class="list-group-item d-flex justify-content-between pb-0">
                                    <p class=""><strong>@coffee.CoffeeName</strong></p>
                                    <p class="">Price: Rs. @coffee.CoffeePrice</p>
                                </li>
                            }
                            @foreach (var addIn in orderInstance.addInsList)
                            {
                                <li class="list-group-item d-flex justify-content-between pb-0">
                                    <p class=""><strong>@addIn.AddInName</strong></p>
                                    <p class="">Price: Rs. @addIn.AddInPrice</p>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item d-flex justify-content-between pb-0">
                                <p class=""><strong>Order list Empty</strong></p>
                            </li>
                        }
                    </ul>
                </div>
                <div class=" mx-4">
                    <div>
                        <div class="d-flex justify-content-between">
                            <p><strong>Total: </strong></p>
                            <p>Rs. @orderInstance.totalAmount</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                            <div class="form-group mb-2 mr-2" style="width: 90%;">
                                <label for="customer" class="sr-only">Customer Phone</label>
                                <input type="text" class="form-control" id="customer" placeholder="Enter customer phone number" required>
                            </div>
                            <button class="btn btn-dark mb-2  " onclick="sear">Search</button>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p><strong>Free Coffee?: </strong></p>
                            <p>No</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p><strong>Discount: </strong></p>
                            <p>Rs. 0</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p><strong>Grand Total: </strong></p>
                            <p>Rs. 200</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-success w-100">Check Out</button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private List<Coffees> _coffees { get; set; }
    private List<AddIns> _addIns { get; set; }

    private List<Coffees> _coffeesOrderList { get; set; }
    private List<AddIns> _addInsOrderList { get; set; }


    public Orders orderInstance { get; set; } = new Orders();

    protected override void OnInitialized()
    {
        orderInstance.addInsList = new List<AddIns>();
        orderInstance.coffeeList = new List<Coffees>();
        orderInstance.totalAmount = 0;
        _coffees = CoffeeService.GetAllCoffee();
        _addIns = AddInsService.GetAllAddIns();
    }

    private void onAddToOrderList(int requestFrom, int ID)
    {
        if (requestFrom == 1)
        {
            Coffees coffeeToAdd = _coffees.Find(x => x.ID == ID);
            orderInstance.coffeeList.Add(coffeeToAdd);
            orderInstance.totalAmount = orderInstance.totalAmount + coffeeToAdd.CoffeePrice;
        }
        else
        {
            AddIns addInToAdd = _addIns.Find(x => x.ID == ID);
            orderInstance.addInsList.Add(addInToAdd);
            orderInstance.totalAmount = orderInstance.totalAmount + addInToAdd.AddInPrice;
        }
    }
    public void searchCustomer()
    {
        Console.WriteLine("AVC");

    }

}